header h1 {
  text-align: center;
}

.cells {
  text-align: center;
}

.cells input {
  width: 50px;
}

.table {
  padding-top: 50px;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.table__cell {
  background-color: rgb(226, 222, 222);
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid black;
  margin: 1px;
}
